@(field: play.api.data.Field, fieldType: org.iatoki.judgels.commons.helpers.crud.CrudFieldType, htmlArgs: java.util.Map[String, String], options: java.util.List[String])(implicit handler : b3.B3FieldConstructor, lang : play.api.i18n.Lang)

@import org.iatoki.judgels.commons.helpers.crud.CrudFieldType
@import play.i18n.Messages

@unused = @{ htmlArgs.put("_label", Messages.get(htmlArgs.get("_label"))) }

@b3HtmlArgs = @{ mapAsScalaMap(htmlArgs).toSeq.map {case (k, v) => (Symbol(k), v)} }

@if(fieldType == CrudFieldType.TEXT) {
    @b3.text(field, b3HtmlArgs: _*)(handler, lang)
} else {
@if(fieldType == CrudFieldType.PASSWORD) {
    @b3.password(field, b3HtmlArgs: _*)(handler, lang)
} else {
@if(fieldType == CrudFieldType.CHECKBOX) {
    @b3.checkbox(field, b3HtmlArgs: _*)(handler, lang)
} else {
@if(fieldType == CrudFieldType.FILE) {
    @b3.file(field, b3HtmlArgs: _*)(handler, lang)
} else {
@if(fieldType == CrudFieldType.STATIC) {
    @b3.static(field.name, b3HtmlArgs: _*){ @field.value }(handler)
}}}}}
