@(modelSlug: String, listCall: play.api.mvc.Call, createCall: Call)(content: Html)

@import play.i18n.Messages

<nav class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav">
        <li role="presentation"><a href="@listCall.url"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> @{ Messages.get(modelSlug + ".list") }</a></li>
        <li role="presentation"><a href="@createCall.url"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> @{ Messages.get(modelSlug + ".add") }</a></li>
    </ul>
</nav>

@content