@(viewForm: play.data.Form[_], dummyCall: play.api.mvc.Call, fields: java.util.List[org.iatoki.judgels.commons.helpers.crud.CrudField], modelSlug: String, modelName: String, updateCall: play.api.mvc.Call)

@import org.iatoki.judgels.commons.helpers.crud.CrudFieldType

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-3", "col-md-9") }

@b3.form(dummyCall) {

    @for(field <- fields) {
        @fieldView(viewForm(field.getName), CrudFieldType.STATIC, field.getHtmlArgs, field.getOptions)(implicitFieldConstructor, implicitly[Lang])
    }

}