@(pageIndex: Long, orderBy: String, orderDir: String, filterString: String, listFunc: (scala.Long, String, String, String) => play.api.mvc.Call)(headers: scala.Tuple2[String, String]*)

@import org.iatoki.judgels.commons.views.html.table.pageLinkBuilder;

<thead>
    <tr>
        @for(header <- headers) {
            <th>
                <a href="@pageLinkBuilder(pageIndex, orderBy, orderDir, filterString, header._1, listFunc)">
                    @header._2
                    @if(orderBy == header._1) {
                        @if(orderDir == "asc") {
                            <span class="glyphicon glyphicon-arrow-up"></span>
                        } else {
                            <span class="glyphicon glyphicon-arrow-down"></span>
                        }
                    }
                </a>
            </th>
        }
        <th></th>
    </tr>
</thead>