@(currentPage: org.iatoki.judgels.commons.Page[_], shortLink: (Long) => Html)

@import play.i18n.Messages

<div class="showing"><small>
    @Messages.get("showing") @(currentPage.getPageIndex() * currentPage.getPageSize + 1) - @math.min((currentPage.getPageIndex*20 +1) + 20, currentPage.getTotalRowsCount()) @Messages.get("out_of") @currentPage.getTotalRowsCount()
</small></div>
<ul class="pagination pagination-sm">
    @if(currentPage.hasPreviousPage()) {
        <li><a href="@shortLink(0)">&laquo;</a></li>
        <li><a href="@shortLink(currentPage.getPageIndex() - 1)">&larr;</a></li>
    } else {
        <li class="disabled"><a>&laquo;</a></li>
        <li class="disabled"><a>&larr;</a></li>
    }

    @for(i <- math.max(0, currentPage.getPageIndex() - 9) to currentPage.getPageIndex() - 1) {
        <li><a href="@shortLink(i)">@(i + 1)</a></li>
    }

    <li class="active"><a>@(currentPage.getPageIndex() + 1)</a></li>

    @for(i <- currentPage.getPageIndex() + 1 to math.min(currentPage.getTotalPagesCount() - 1, currentPage.getPageIndex() + 9)) {
        <li><a href="@shortLink(i)">@(i + 1)</a></li>
    }

    @if(currentPage.hasNextPage()) {
        <li><a href="@shortLink(currentPage.getPageIndex() + 1)">&rarr;</a></li>
        <li><a href="@shortLink(currentPage.getTotalPagesCount() - 1)">&raquo;</a></li>
    } else {
        <li class="disabled"><a>&rarr;</a></li>
        <li class="disabled"><a>&raquo;</a></li>
    }
</ul>