@(elements: views.html.helper.FieldElements)

@import helper.twitterBootstrap._

<div class="form-group @if(elements.hasErrors) {error} row">
    <label class="col-md-3 control-label" for="@elements.id" >@elements.label</label>
    <div class="col-md-9">
        @elements.input
        @if(elements.hasErrors) {
            <span class="help-inline">@elements.errors.mkString(", ")</span>
        } else {
            <span class="help-inline">@elements.infos.mkString(", ")</span>
        }
    </div>
</div>
<br />