@import play.api.mvc.Call
@import org.iatoki.judgels.play.views.html.table.pageLinkBuilder

@(pageIndex: Long, orderBy: String, orderDir: String, filterString: String, listFunc: (scala.Long, String, String, String) => Call)(headers: scala.Tuple2[String, String]*)

<script type="text/javascript" src="@routes.Assets.versioned("lib/playcommons/javascripts/bulk-select.js")"></script>

<thead>
    <tr>
        <th>
            <input type="checkbox" id="selectAll" name="selectAll" value="true">
        </th>
        @for(header <- headers) {
            <th>
                <a href="@pageLinkBuilder(pageIndex, orderBy, orderDir, filterString, header._1, listFunc)">
                    @header._2
                    @if(orderBy == header._1) {
                        @if(orderDir == "asc") {
                            <span class="glyphicon glyphicon-arrow-up"></span>
                        } else {
                            <span class="glyphicon glyphicon-arrow-down"></span>
                        }
                    }
                </a>
            </th>
        }
        <th></th>
    </tr>
</thead>