@(pageTitle: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@play.Play.application().configuration.getString("application.title") @if(!"".equals(pageTitle)) { - @pageTitle }</title>
        <link rel="shortcut icon" type="image/ico" href='@controllers.routes.Assets.versioned("images/favicon.ico")'>
        <link rel="stylesheet" media="screen" href='@controllers.routes.Assets.versioned("stylesheets/main.css")'>
        <script type="text/javascript" src="@controllers.routes.Assets.at("lib/requirejs/require.js")"></script>
        <script type="text/javascript" src="@controllers.routes.Assets.versioned("javascripts/settings.js")"></script>
        <script type="text/javascript" src="@controllers.routes.Assets.versioned("javascripts/language.js")"></script>
    </head>
    <body>
        <div class="container-fluid">
            @content
        </div>
    </body>
</html>
