@(breadcrumbs: List[org.iatoki.judgels.commons.InternalLink])

@import play.i18n.Messages
@import java.util.Date
@import org.iatoki.judgels.commons.JudgelsUtils

@defining(new Date().getTime()) { millis =>
    <div class="primary-content-breadcrumb clearfix">
        <ol class="breadcrumb col-md-8">
            <li><a href="/" class="glyphicon glyphicon-home" aria-hidden="true"></a></li>
            @for((link, index) <- breadcrumbs.zipWithIndex) {
                @if(breadcrumbs.size > 4) {
                    @if(index == 0) {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">... <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="@link.getTarget" class="breadcrumb-link">@link.getLabel</a></li>
                    } else {
                        @if(index == breadcrumbs.size - 4) {
                                    <li><a href="@link.getTarget" class="breadcrumb-link">@link.getLabel</a></li>
                                </ul>
                            </li>
                        } else {
                            <li><a href="@link.getTarget" class="breadcrumb-link">@link.getLabel</a></li>
                        }
                    }
                } else {
                    <li><a href="@link.getTarget" class="breadcrumb-link">@link.getLabel</a></li>
                }
            }
        </ol>
        <div class="server-time col-md-4 clearfix">
            <div class="pull-right">
                @Messages.get("commons.header.serverTime"): <time id="server-time" datetime="@JudgelsUtils.formatISOUTCDateTime(millis)">@JudgelsUtils.formatDetailedDateTime(millis)</time>
            </div>
        </div>
    </div>
}

<script>var language = "@Messages.get("commons.moment.locale")";</script>
<script type="text/javascript" src="@controllers.routes.Assets.versioned("javascripts/display-time.js")"></script>
<script type="text/javascript" src="@controllers.routes.Assets.versioned("javascripts/server-time.js")"></script>