@(breadcrumbs: List[org.iatoki.judgels.commons.InternalLink])

@import play.i18n.Messages
@import java.text.SimpleDateFormat
@import java.util.Date

<div class="primary-content-breadcrumb clearfix">
    <div class="pull-right server-time">
        @Messages.get("commons.header.serverTime"): <span id="server-clock">@(new SimpleDateFormat("dd-MMM-yyyy HH:mm:ss").format(new Date()))</span> @(new SimpleDateFormat("Z").format(new Date()))
    </div>
    <ol class="breadcrumb">
        <li><a href="/" class="glyphicon glyphicon-home" aria-hidden="true"></a></li>
        @for(link <- breadcrumbs) {
            <li><a href="@link.getTarget" class="breadcrumb-link">@link.getLabel</a></li>
        }
    </ol>
</div>

<script type="text/javascript">
    var date = new Date(@(new SimpleDateFormat("yyyy").format(new Date())), @(new SimpleDateFormat("M").format(new Date()))-1, @(new SimpleDateFormat("dd").format(new Date())), @(new SimpleDateFormat("H").format(new Date())), @(new SimpleDateFormat("m").format(new Date())), @(new SimpleDateFormat("s").format(new Date())), @(new SimpleDateFormat("S").format(new Date())));
</script>

<script type="text/javascript" src="@controllers.routes.Assets.versioned("javascripts/server-clock.js")"></script>
<script type="text/javascript" src="@controllers.routes.Assets.versioned("javascripts/active.js")"></script>
