
<div class="row avatar">
    <div class="col-md-4">
        <img class="avatar-picture" src='@controllers.routes.Assets.versioned("images/avatar-default.png")' alt="avatar"/>
    </div>
    <div class="col-md-8 avatar-username">
        fushar
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-stacked menu">
            <li role="presentation" class="active"><a href="#">Home</a><div class="menu-arrow"></div></li>
            <li role="presentation"><a href="#">Profile</a></li>
            <li role="presentation"><a href="#">Messages</a></li>
        </ul>
    </div>
</div>