@(sidebarContent: Html)(content: Html)

@import play.mvc.Http.Context

<div class="row content">
    <div class="col-md-12">
        @if(Context.current().args.getOrDefault("sidebar.isBefore", java.lang.Boolean.valueOf(true)) == true) {
            <div class="col-md-3">
                <div class="sidebar">
                    @sidebarContent
                </div>
            </div>
            <div class="col-md-9">
                <div class="row primary-content">
                    <div class="col-md-12">
                    @content
                    </div>
                </div>
            </div>
        } else {
            <div class="col-md-9">
                <div class="row primary-content l">
                    <div class="col-md-12">
                    @content
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row sidebar r">
                    @sidebarContent
                </div>
            </div>
        }
    </div>
</div>
