@(tabs: java.util.List[org.iatoki.judgels.commons.InternalLink])(content: Html)

@import play.i18n.Messages
<nav class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav">
    @for((tab, index) <- tabs.zipWithIndex) {
        @if((tabs.size() > 6) && (index == 5)) {
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">@Messages.get("commons.more") <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li role="presentation"><a href="@tab.getTarget">@tab.getLabel</a></li>
        } else {
            <li role="presentation"><a href="@tab.getTarget">@tab.getLabel</a></li>
        }
        @if((tabs.size() > 6) &&  (index == tabs.size()-1)) {
                </ul>
            </li>
        }
    }
  </ul>
</nav>

@content