@import play.i18n.Lang
@import play.mvc.Http
@import org.iatoki.judgels.play.controllers.routes

<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-left">
                    <a href="/"><img class="logo" src='@controllers.routes.ExternalAssets.at("logo.png")' alt="Logo"/></a>
                </div>

                <div class="title pull-left">
                    <a href="/"><h1>@play.Play.application().configuration.getString("application.title")</h1></a>
                </div>

                <div class="right-info pull-right">
                    <div class="languages">
                        <select id="languages" class="form-control selectpicker">
                            @for(lang <- Lang.availables()) {
                                <option value="@routes.ApplicationController.changeLanguage(lang.code())" @if(Http.Context.current().lang().code().equals(lang.code())) { selected }>@lang.code().toUpperCase</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>