@import play.mvc.Http.Context
@import org.iatoki.judgels.play.JudgelsPlayUtils

@(sidebarContent: Html)(content: Html)

<div class="row content">
    @if(Context.current().args.getOrDefault("sidebar.isBefore", java.lang.Boolean.valueOf("true")) == true) {
        @if(JudgelsPlayUtils.isSidebarShown(Context.current().request())) {
            <div class="col-md-3">
                <div class="sidebar clearfix">
                    @sidebarContent
                </div>
            </div>
        }
        @if(JudgelsPlayUtils.isSidebarShown(Context.current().request())) {
            <div class="col-md-9">
        } else {
            <div class="col-md-12">
        }
                @viewMenuView()
                <div class="primary-content clearfix">
                    <div class="col-md-12">
                        @content
                    </div>
                </div>
            </div>
    } else {
        @if(JudgelsPlayUtils.isSidebarShown(Context.current().request())) {
            <div class="col-md-9">
        } else {
            <div class="col-md-12">
        }
            <div class="primary-content l clearfix">
                @viewMenuView()
                <div class="col-md-12">
                @content
                </div>
            </div>
        </div>
        @if(JudgelsPlayUtils.isSidebarShown(Context.current().request())) {
            <div class="col-md-3 sidebar-wrapper">
                <div class="sidebar r clearfix">
                @sidebarContent
                </div>
            </div>
        }
    }
</div>
