@import "_function";

body {
    color: @primary-font-color;
    font-family: @primary-font;
    font-size: @primary-font-size;
}
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
input[type="text"], input[type="password"], textarea {
    color: @primary-font-color;
    .RoundBorders(@base-radius);
}
.lowercase {
    text-transform: lowercase;
}
::-webkit-input-placeholder {
    padding-left: 2px;
    font-family: @primary-font;
    font-size: @primary-font-size;
}
:-moz-placeholder {
    padding-left: 2px;
    font-family: @primary-font;
    font-size: @primary-font-size;
}
::-moz-placeholder {
    padding-left: 2px;
    font-family: @primary-font;
    font-size: @primary-font-size;
}
:-ms-input-placeholder {
    padding-left: 2px;
    font-family: @primary-font;
    font-size: @primary-font-size;
}
.placeholder {
    padding-top: 3px;
    padding-left: 2px;
    font-family: @primary-font;
    font-size: @primary-font-size;
}
.panel-error {
    display: none;
}
.panel-show {
    display: block;
}
.help-inline {
    color: red;
}
.form-horizontal .control-label{
    text-align:left;
}
.breadcrumb {
    border-radius: 0px;
    background-color: #2C3031;
}
h2 {
    font-family: @accent-font;
}
h3 {
    font-family: @accent-font;
    font-weight: bold;
    font-size: 18px;
}
.content {
    background-color: #383D40;
    padding-left: 230px;
    width: 100%;
    margin: 0;
}
.sidebar {
    width: 230px;
    margin-left: -230px;
    float: left;
    margin-right: 0;
    padding-right: 15px;
}
.avatar {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    background-color: @primary-lighter-color;
}
.avatar-picture {
    height: 48px;
    width: 48px;
    border-radius: 50%;
}
.avatar-username {
    font-family: @accent-font;
    font-size: 16px;
    line-height: 24px;
}
.avatar-real-name {
    font-family: @primary-font;
    font-size: 12px;
    line-height: 24px;
}
.avatar-menu {
    font-family: @primary-font;
    font-size: 10px;
}
.primary-content {
    min-height: 724px;
    background-color: white;
    margin-left: -15px;
    padding-left: 15px;
    padding-right: 15px;
}
.primary-content-breadcrumb-row {
    max-height: 36px;
}
.primary-content-breadcrumb {
    padding-left: 0;
    padding-right: 0;
}
.primary-content-breadcrumb ol li a {
    color: #ABBAC4;
}
ol.breadcrumb {
    margin-bottom: 0;
}
.menu {
  margin-right: -15px;
}

.menu li a {
  display: block;
  background-color: #2C3031;
  color: #ABBAC4;
  font-size: 16px;
  margin-top: 3px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.menu > li.active {
  background-color: transparent;
  background-image: none;
  margin: 0;
  padding: 0;
}

.menu > li > a:hover {
  color: #699BA8;
  background-color: #2C3031;
  text-decoration: none;
}

.menu > li.active {
  text-shadow: none;
}

.menu > li.active > a {
  color: #699BA8;
}

.menu-arrow {
    position: absolute;
    top: 12px;
    right: 15px;
    background: url('../images/arrow-right.png') #1E2021 center center no-repeat;
    width: 30px;
    height: 30px;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

ol li:not([role]), ul li:not([role]) {
  margin-left: 25px;
}

ol.breadcrumb li {
  margin-left: 0;
}

.table-image {
  width: 25px;
  height: 25px;
}

.table-col-id {
  width: 30px;
}

.table-col-logo {
  width: 30px;
}

.username {
  font-family: @accent-font;
  font-weight: bold;
}

.user-real-name {
  font-size: smaller;
}

.table-col-score {
  width: 60px;
}